@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',
  sans-serif;
}

/* 
Landform Logo for NavLogo in Navbar
<img src={logo1} alt="Landform" class="lf-logo"/> */



.FormButton:hover {
  transition: 0.1s ease-in-out;
  transform: scale(1.01);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .img-h1 {
    font-size: 2rem;
  }

  .slider {
    height: 50vh;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .left-arrow {
    font-size: 2rem;
  }

  .right-arrow {
    font-size: 2rem;
  }

  .imagewrapper {
    margin-top: 80px;
    height: 80vh;
  }

  .carousel-container {
    width: 450px;
  }

  .thumbnails {
    width: 450px;
  }
}

@media only screen and (max-width: 1024px) {
  .slider {
    height: 55vh;
  }
}


@media only screen and (max-width: 480px) {
  .image {
    height: 300px;
    width: 300px;
  }

  .img-h1 {
    font-size: 2rem;
  }

  .left-arrow {
    top: 97%;
    font-size: 1.75rem;
    left: 25%;
  }

  .right-arrow {
    top: 97%;
    font-size: 1.75rem;
    right: 25%;
  }

  .carousel-container {
    width: 350px;
  }

  .thumbnails {
    width: 350px;
  }
}

.details {
  padding: 50px;
  background-image: url(/src/images/detailsbg.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
