@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',
  sans-serif;
}

/* 
Landform Logo for NavLogo in Navbar
<img src={logo1} alt="Landform" class="lf-logo"/> */



.FormButton:hover {
  transition: 0.1s ease-in-out;
  transform: scale(1.01);
  cursor: pointer;
}


.details {
  padding: 50px;
  background-image: url(/src/images/detailsbg.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  
  .text-area {
    width: 80px;
  }

  .form-control {
    width: 300px;
  }

  .input {
    width: 50px;
  }
}